body
  {
       background-image:url('curvybrickwallbg3.jpg');
	   background-color:#6699cc; 
	   margin-top:3%;
       font-family: sans-serif;
  }

body.a
  {
       text-align: center;
	   
 
 }
  
  a:hover{
           
		   font-weight:bold;
		   
		 }
	
	#c{
	
	padding:20px;
	padding-top:45px;
    border:3px solid gray;
	width:270px;
	margin-left:1000;
	}
	
	#d{
	text-align:center;
	
	}
  
 
  